
.header {
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 1000;
    position: relative;
    text-transform: capitalize;

  
}

.container1 {
    width: 100%;
    height: 100%;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
 
}

.main_logo_header {
    width: 130px;
    height: 40px;
    cursor: pointer;
}

.button_cotolog_heder {
    width: 170px;
    height: 40px;
    border-radius: 7px;
    background-color: #ffbe1f;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
}
.button_cotolog_heder>svg{
    font-size: 22px;
}

.search {
    width: 48%;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    border: 2px solid #ffbe1f;
    padding: 0 0 0 1.4%;
    overflow: hidden;
    cursor: pointer;
}

.search>input {
    width: 80%;
    border: none;
    background-color: transparent;
    font-size: 14px;
    outline: none;
}

.search_icons {
    width: 13%;
    height: 100%;
    background-color: #ffbe1f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_icons>svg {
    font-size: 20px;
    color: #444;
}

.savat_link,
.sevimlilar_link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.savat_link:hover>svg,
.sevimlilar_link:hover>svg {
    color: #ffbe1f;
}

.savat_link>svg,
.sevimlilar_link>svg {
    font-size: 21px;
}

.savat_link>p,
.sevimlilar_link>p {
    font-size: 12px;
}




.main_kirish:hover {
    background-color: #ffc01f3e;
}

/* 
.open_katalog_data{
    width: 100%;
    height: 650px;
    background-color: #00000065;
} */

.container_position{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

}


.catalog_wrapper {
    width: 1150px;
    min-height: 700px;
    position: absolute;
    z-index: 100;
    top: 60px;
    padding: 10px 3% 90px;
    background-color: #fff;
    top: 0;
    margin: 0 auto;
  }
  
  .catalog_wrapper_item {
    width: 250px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 20px 5px;
    transition: 0.3s;
    border-radius: 3px;
  }
  
  .catalog_wrapper_item:hover {
    background-color: #ddd;
  }
  
  .catalog_wrapper_item > svg:first-child {
    font-size: 23px;
    margin-right: 8px;
    color: #444;
  }
  
  .catalog_wrapper_item > p {
    flex: 1;
    font-size: 14px;
    color: #141415;
    font-family: "Inter", sans-serif;
  }
  
  .catalog_wrapper_item > svg:last-child {
    color: #666;
  }
  
  .catalog_wrapper_item_section {
    width: calc(100% - 290px);
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    padding: 0 10px 0 10px;

  }


  .catalog_wrapper_item:hover .catalog_wrapper_item_section {
    display: block;
  }
  
  .catalog_wrapper_item:hover .catalog_wrapper_item_section h2 {
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
  }
  
  .catalog_wrapper_item_section_links {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
  }
  
  .catalog_wrapper_item_section_links > div > h4 {
    color: #333;
    margin-bottom: 15px;
    margin-top: 5px;
    font-family: "Inter", sans-serif;
  }
  
  .catalog_wrapper_item_section_links > div > ul {
    list-style-type: none;
  }
  
  .catalog_wrapper_item_section_links > div > ul > li {
    margin: 10px 0;
    font-family: "Inter", sans-serif;
  }
  
  .catalog_wrapper_item_section_links > div > ul > li > a {
    text-decoration: none;
    color: #666;
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  
  .catalog_wrapper_item_section_links > div > ul > li > a:hover {
    color: orange;
  }
  
























.bottom_header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    box-shadow: 0 0 4px #ddd;
    display: none;
}

.savat_link1,
.sevimlilar_link1,
.mainLink1,
.catalog_link1,
.profil_link1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    color: #777;
}

.savat_link1:focus>svg,
.sevimlilar_link1:focus>svg,
.mainLink1:focus>svg,
.catalog_link1:focus>svg,
.profil_link1:focus>svg {
    color: #ffbe1f;
}

.savat_link1>svg,
.sevimlilar_link1>svg,
.mainLink1>svg,
.catalog_link1>svg,
.profil_link1>svg  {
    font-size: 24px;
}

.savat_link1>p,
.sevimlilar_link1>p,
.mainLink1>p,
.catalog_link1>p,
.profil_link1>p {
    font-size: 12px;
}


.main_kirish {
    height: 40px;
    background-color: #fff;
    border-radius: 7px;
    border: 2px solid #ffbe1f;
    cursor: pointer;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    padding: 0 5px;
    gap: 5px;
    text-decoration: none;
    color: #333;

}

*{
    text-decoration: none;
    text-transform: capitalize;
}



.main_kirish_1{
    border-radius: 7px;
    background-color: transparent;
}

.main_kirish> img{
    width: 25px;
    height: 25px;
    color: #fff;
    text-transform: uppercase;
}
.login{
    width: 100%;
    height: 100vh;
    background-color: #8c858566;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

.login_item{
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.login_item_header{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;

}

.login_item_header>svg{
    cursor: pointer;
    font-size: 30px;
}

.inputs{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.input_box{
    width: 100%;
    height: 50px;
    border: 2px solid orange;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.input_box>input{
    font-size: 16px;

}

.login_buuton{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 162, 0);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.login_buuton1{
    width: 100%;
    height: 50px;
    border: 2px solid #999;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
}

*{
    border: none;
    outline: none;
}







@media screen and (max-width: 1050px) {
.search {
    width: 40%;
}
}

@media screen and (max-width: 868px) {
    .button_cotolog_heder>p {
        display: none;
    }

    .button_cotolog_heder {
        width: 40px;
    }
}

@media screen and (max-width: 768px) {

    .search{
        width: 100%;
     
    }

    .savat_link,
    .sevimlilar_link,
    .main_kirish,
    .button_cotolog_heder,
    .main_logo_header  {
        
        display: none;
    }

.bottom_header{
    display: flex;

    z-index: 1000;
}
}