/* .App{
  width: 1150px;
  min-height: 100vh;
  background-color: #eee;
  margin: 0 auto;
} */
/* header bottom */

.App{
  padding: 0 10px 10px 10px;
}
.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

/* header */
.container1 {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

/* carousel */
.container2 {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

/* cardcarousel */
.container3 {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

/* footer */
.container4 {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}
/* profil */
.container5 {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}
/* heart */
.container6 {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

/* katalog */
.container7 {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

/* singlePage */
.container8 {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}
/* imgPage */
.container9 {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

